<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout/layout}">

<head>
    <title>세션파일 일괄삭제</title>
</head>

<body>
    <div layout:fragment="content">
        <section>
            <h2 class="h2_frm">세션파일 일괄삭제</h2>

            <div th:if="${message}" class="alert alert-success">
                <p th:text="${message}"></p>
            </div>

            <div class="local_desc01 local_desc">
                <p>
                    현재 접속 중인 관리자의 세션을 제외한 모든 세션 파일을 삭제합니다.<br>
                    삭제 후에는 로그인 중인 회원들이 로그아웃될 수 있습니다.
                </p>
            </div>

            <form th:action="@{/mgmt/config/session/delete}" method="post" data-confirm="정말 삭제하시겠습니까?">
                <div class="btn_confirm01 btn_confirm">
                    <input type="submit" value="확인" class="btn_submit btn">
                </div>
            </form>
        </section>
    </div>
</body>

</html>