<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layout/layout}">

<head>
    <title>썸네일파일 일괄삭제</title>
</head>

<body>
    <div layout:fragment="content">
        <section>
            <h2 class="h2_frm">썸네일파일 일괄삭제</h2>

            <div th:if="${message}" class="alert alert-success">
                <p th:text="${message}"></p>
            </div>

            <div class="local_desc01 local_desc">
                <p>
                    게시판에서 생성된 썸네일 파일들을 일괄 삭제합니다.<br>
                </p>
            </div>

            <form th:action="@{/mgmt/config/thumbnail/delete}" method="post"
                onsubmit="return confirm('정말 삭제하시겠습니까?');">
                <div class="btn_confirm01 btn_confirm">
                    <input type="submit" value="확인" class="btn_submit btn">
                </div>
            </form>
        </section>
    </div>
</body>

</html>